* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

*::after {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

*::before {
    margin: 0;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

.App {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--color-bg);
    color: #555;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
  
    background: var(--color-bg)
  }
  
  .gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .section__padding {
    padding: 4rem 6rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }
  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
  
    .section__margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .section__margin {
      margin: 4rem 2rem;
    }  
  }