* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

*::after {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

*::before {
    margin: 0;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.App {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--color-bg);
    color: #555;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    position: relative;
    z-index: 1;
    background: var(--color-bg)
  }

  .curve__heroimage {
    width: 100%;
    position: absolute;
    height: 10vh;
   bottom: -15%;
   z-index: 2;
}

.curve__heroimage img {
  width: 100%;
  height: 100%;
}
  
  .gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .section__padding {
    padding: 4rem 4rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }
  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .nav__header {
    width: 100%;
    height: 2rem;
    background-color: var(--color-banner);
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    word-spacing: 10px;
    text-transform: uppercase;
    font-family: var(--font-family-header);
  }
  
  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @media screen and (max-width: 1284px) {
    .curve__heroimage {
      top: 88%;
    }
  }

  @media screen and (max-width: 920px) {
    .curve__heroimage {
      top: 80%;
    }
  }
  
  @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
  
    .section__margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .section__margin {
      margin: 4rem 2rem;
    }  
  }




@media screen and (max-width: 540px) {

    .section__padding {
      padding: 2rem 1rem;
    }

    .curve__heroimage {
      top: 90%;
    }
}


@media screen and (max-width: 375px) {

  .curve__heroimage {
    top: 95%;
  }
}

@media screen and (max-width: 360px) {

  .curve__heroimage {
    top: 93%;
  }
}




