@font-face {
    font-family: bebas;
    src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: monster;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
  --font-family: monster, sans-serif;
  --font-family-header: bebas, sans-serif;

  --gradient-text: linear-gradient(89.97deg, #8467fa 1.84%, #ef9b00 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  

  --color-bg: #fff;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-button: #fff;
  --color-button-cta: #FFA42D;
  --color-button-cta-hover: #D69137;
}