.me__footer{
    font-family: var(--font-family);
    min-height: 90vh;
    height: auto;
    background-color: #2a3737;
    color: var(--color-body);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.me__footer-logo {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.me__footer-logo img {
    width: 8rem;
}

.me__flex-con {
    gap: .7em;
}
.me__contact_us_input{
    padding: .7em;
    border-radius: 5px;
}


